.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png');
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
}
.header-contant{
    animation: fadeIn 3s;
  }